body,ul,h1,p,div,section {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  margin: 0;
  padding: 0;
}

section.catch {
  position: absolute;
  background-image: url(./../img/main3.jpg);
  /* width: 1280px;
  height: 728px; */
  width: 1280px;
  height: 728px;
}

.ttl{
  position: absolute;
  width: 175px;
  height: 37px;
  top: 38px;
  left: 48px;
  z-index: 1;
}
header h1 {
  display: inline-block;
}
header nav {
  display: inline-block;
  position: absolute;
  top: 49px;
  left: 353px;
  z-index: 1;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a{
  color: #262626;
  font-size: 17px;
  padding: 18px;
}
